/* src/styles/Home.css */
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-header {
    background-color: #D3BBDD;
    color: white;
    padding: 60px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3a1df;
    box-shadow: 0 4px 8px #e3a1df;
    border-radius: 30px 60px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

.home-header h1 {
    font-size: 3em;
    margin: 0;
}

.home-header p {
    font-size: 1.5em;
    margin: 10px 0 0;
}

.home-overview {
    background-color: #f0f0f0;
    padding: 40px 20px;
    flex: 2;
    text-align: center;
}

.home-overview h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-overview p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.home-overview img.overview-image {
    width: 50%;
    height: auto;
    margin: 20px 0;
}

.home-overview ul {
    list-style-type: disc;
    padding-left: 40px;
    display: inline-block;
    text-align: left;
    
}

.home-overview li {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.home-links {
    background-color: #ffffff;
    padding: 40px 20px;
    flex: 1;
    text-align: center;
}

.home-links h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-link {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #BC96CA;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.home-link:hover {
    background-color: #C26DBC;
}
